*.alpha:	230
*.background:	#00000D
*.color0:	#1d2021
*.color1:	#cc241d
*.color10:	#b8bb26
*.color11:	#fabd2f
*.color12:	#83a598
*.color13:	#d3869b
*.color14:	#8ec07c
*.color15:	#ebdbb2
*.color2:	#98971a
*.color3:	#d79921
*.color4:	#458588
*.color5:	#b16286
*.color6:	#689d6a
*.color66:	#00000D
*.color7:	#a89984
*.color8:	#928374
*.color9:	#fb4934
*.foreground:	#8ee1d2
*background:	#00000D
*color0:	#00000D
*color1:	#AD335F
*color10:	#F45D70
*color11:	#3FC174
*color12:	#F4B86F
*color13:	#1D5A94
*color14:	#E7658E
*color15:	#8ee1d2
*color2:	#F45D70
*color3:	#3FC174
*color4:	#F4B86F
*color5:	#1D5A94
*color6:	#E7658E
*color66:	#00000D
*color7:	#8ee1d2
*color8:	#639d93
*color9:	#AD335F
*foreground:	#8ee1d2
URxvt*background:	[100]#00000D
URxvt*borderColor:	[100]#00000D
URxvt*cursorColor:	#8ee1d2
URxvt*depth:	32
URxvt*foreground:	#8ee1d2
urxvt*depth: 32
urxvt*background: rgba:0000/0000/0200/c800
URxvt*scrollBar:	false
URxvt*font:		xft:Inconsolata:size=10
UXTerm*background:	#00000D
UXTerm*cursorColor:	#8ee1d2
UXTerm*foreground:	#8ee1d2
XClock*background:	#00000D
XClock*foreground:	#8ee1d2
XClock*hourColor:	rgba:8e/e1/d2/ff
XClock*majorColor:	rgba:8e/e1/d2/ff
XClock*minorColor:	rgba:8e/e1/d2/ff
XClock*minuteColor:	rgba:8e/e1/d2/ff
XClock*secondColor:	rgba:8e/e1/d2/ff
XTerm*background:	#00000D
XTerm*cursorColor:	#8ee1d2
XTerm*foreground:	#8ee1d2
emacs*background:	#00000D
emacs*foreground:	#8ee1d2
